h1 {
	text-align: center;
}
h1 img {
	width: 30%;
	filter: drop-shadow(1px 1px 5px rgb(32, 108, 207));
}
.nav {
	list-style-type: none;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}
.nav li {
	width: 3ch;
}
.nav li img {
	width: 300px;
}